#stepProgressBar {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  width: 300px;
  margin: 0 auto;
  margin-bottom: 40px;
  background-color: rgb(246 246 246);
  padding: 1em;
  border-radius: 15px;
}

.step {
  text-align: center;
}

.step-text {
  margin-bottom: 10px;
  color: #f69898;
}

.bullet {
  border: 1px solid #f69898;
  height: 20px;
  width: 20px;
  border-radius: 100%;
  color: #f69898;
  display: inline-block;
  position: relative;
  transition: background-color 500ms;
  line-height: 20px;
}

.bullet.completed {
  color: white;
  background-color: #f69896;
}

.bullet.completed::after {
  content: '';
  position: absolute;
  right: -95px;
  bottom: 10px;
  height: 1px;
  width: 80px;
  background-color: #f69898;
}

#main > button {
}

/* 6+ */

.maincontent {
  background-color: rgb(246 246 246);
  border-radius: 8px;
  color: black;
  width: 50%;
  height: 200px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 2em;
  padding-top: 3em;
}

.hidden {
  display: none;
}

.button {
  width: 80px;
  height: 40px;
  padding: 5px 10px;
  border: 1px solid black;
  transition: 250ms background-color;
  background-color: #f69898;
  position: relative;
}

.buttons-container {
  margin-left: 20vw;
  margin-top: 2vh;
  margin-right: auto;
}

.button:hover {
  cursor: pointer;
  background-color: black;
  color: white;
}

.button:disabled:hover {
  opacity: 0.6;
  cursor: not-allowed;
}

.text-center {
  text-align: center;
}

